---
import FormattedDate from "@components/FormattedDate.astro";
const { date, updatedDate, title } = Astro.props;
---

<div class="flow">
	<h1>{title}</h1>
	<small>
		{date && <FormattedDate date={date} />}
		{
			updatedDate && date !== updatedDate && (
				<span>
					• Updated <FormattedDate date={updatedDate} />
				</span>
			)
		}
	</small>
</div>
