---
import StaticPage from "@layouts/StaticPage.astro";
---

<StaticPage title="Patterns">
	<h2>Font styles</h2>

	<p class="font-sans">This is a sans-serif font</p>

	<p class="font-serif">This is a serif font</p>

	<p class="font-mono">This is a monospaced font</p>
</StaticPage>
