---
import Layout from "@layouts/Base.astro";
---

<Layout title="Patterns">
	<h1>Patterns</h1>

	<h2>Font styles</h2>

	<p class="font-sans">This is a sans-serif font</p>

	<p class="font-serif">This is a serif font</p>
</Layout>
