---
import EndMark from "./EndMark.astro";
import PostDate from "@components/ContentItems/PostDate/index.astro";
const { title, date, updatedDate, description } = Astro.props;
---

<article class="flow">
	<h1>{title}</h1>
	{date && <PostDate date={date} updatedDate={updatedDate} />}
	{description && <p class="lede">{description}</p>}
	<slot />
	<EndMark />
</article>
