---
const today = new Date();
---

<footer id="pageFooter" class="cluster">
	<div>©️ 2023–{today.getFullYear()} J H Williams</div>
	<div role="list" class="cluster">
		<a href="https://github.com/thudfactor" rel="me">Github</a>
		<a href="https://hachyderm.io/@thudfactor" rel="me">Mastodon</a>
	</div>
</footer>
