---
const today = new Date();
import EndMark from "./EndMark.astro";
import Socials from "./Socials/index.astro";
---

<footer id="site-info">
	<div>&copy; 2023–{today.getFullYear()} J H Williams</div>
	<EndMark />
	<Socials />
</footer>
