---
const today = new Date();
import Socials from "./Socials/index.astro";
---

<style>
	#site-info {
		--cluster-align: center;
		--cluster-justify: space-between;
	}
</style>
<footer id="site-info" class="cluster contrast">
	<div>&copy; 2018–{today.getFullYear()} J H Williams</div>
	<Socials />
</footer>
