---
import { SITE_TITLE, SITE_VALUE_STATEMENT } from "../../consts";
---

<header id="banner" class="cluster p-s bg-stone-800 text-stone-200">
	<div class="cluster">
		<div>
			<a class="cluster" id="home" href="/">
				<svg
					version="1.0"
					width="1100px"
					height="523px"
					viewBox="0 0 1100 523"
					preserveAspectRatio="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						fill="currentColor"
						d="M 316.639 13.5 L 303.159 27 L 0 27 L 4.793 33.1 C 27.061 61.6 65.505 100.8 91.467 121.6 C 113.535 139.2 138.399 154.5 157.072 161.9 C 173.747 168.5 209.895 177.6 236.756 181.9 C 269.708 187.3 304.357 190.6 342.402 192 C 372.758 193.1 385.24 194.6 401.216 199.1 C 436.365 209 458.533 228.5 465.523 255.8 C 468.119 266.1 468.119 282 465.423 292.6 C 461.329 308.7 449.446 328.2 431.772 347.6 C 407.407 374.4 361.374 408.3 314.642 433.9 C 304.257 439.6 301.861 441.5 289.479 453.8 L 275.699 467.5 L 275.699 523 L 412.3 523 L 417.992 519.6 C 436.265 508.5 474.909 500.4 525.835 496.9 C 550 495.3 611.91 495.6 636.674 497.5 C 671.024 500.1 696.587 504.3 716.558 510.7 C 727.442 514.2 740.323 520 741.521 522 C 741.921 522.7 765.187 523 811.52 523 L 880.819 523 L 880.819 468.2 L 871.532 459.6 C 839.679 430.3 802.433 402.5 773.974 387 C 755.102 376.8 745.016 367.2 735.231 350.5 C 724.546 332.4 716.358 302.1 715.959 280.3 C 715.859 270.8 719.354 259.3 727.642 242 C 749.011 197.4 786.057 164.6 832.489 149.1 C 859.55 140 874.428 138.2 927.751 137 C 966.794 136.1 983.07 135.3 1004.139 132.9 C 1036.792 129.3 1062.355 122.1 1070.143 114.3 L 1073.539 110.9 L 1073.539 55 L 1076.334 54.4 C 1084.523 52.6 1086.819 51.7 1090.714 48.7 C 1093.11 46.9 1096.106 43.4 1097.504 41 C 1099.8 36.8 1100 35.5 1100 23 C 1100 7.5 1099.201 5.4 1092.211 2.3 C 1088.217 0.6 1074.138 0.5 709.069 0.2 L 330.12 0 L 316.639 13.5 Z"
					></path>
				</svg>
				<span class="site-title">{SITE_TITLE}: {SITE_VALUE_STATEMENT}</span>
			</a>
		</div>
		<div>
			<div role="list" class="cluster">
				<a href="https://github.com/thudfactor" rel="me">Github</a>
				<a href="https://bsky.app/profile/thudfactor.com" rel="me">Bluesky</a>
				<a href="https://letterboxd.com/thudfactor/" rel="me">Letterboxd</a>
				<a href="https://hachyderm.io/@thudfactor" rel="me">Mastodon</a>
				<a href="/feed.xml"
					><span class="cluster"
						>RSS
						<svg
							style="color: var(--color-amber-600)"
							xmlns="http://www.w3.org/2000/svg"
							xml:space="preserve"
							id="RssIcon"
							width="800"
							height="800"
							role="presentation"
							viewBox="0 0 461.432 461.432"
							><path
								fill="currentColor"
								d="M125.896 398.928c0 33.683-27.308 60.999-61.022 60.999-33.684 0-61.006-27.316-61.006-60.999 0-33.729 27.322-61.038 61.006-61.038 33.714 0 61.022 27.308 61.022 61.038zM0 229.636c0 8.441 6.606 15.379 15.036 15.809 60.318 3.076 100.885 25.031 138.248 62.582 36.716 36.864 60.071 89.759 64.082 137.769.686 8.202 7.539 14.524 15.77 14.524h56.701c4.344 0 8.498-1.784 11.488-4.935a15.852 15.852 0 0 0 4.333-11.729c-8.074-158.152-130.669-278.332-289.013-286.23a15.846 15.846 0 0 0-11.709 4.344A15.848 15.848 0 0 0 0 173.247v56.389z"
							></path><path
								fill="currentColor"
								d="M0 73.411c0 8.51 6.713 15.482 15.216 15.819 194.21 7.683 350.315 161.798 358.098 355.879.34 8.491 7.32 15.208 15.818 15.208h56.457c4.297 0 8.408-1.744 11.393-4.834a15.857 15.857 0 0 0 4.441-11.552C453.181 199.412 261.024 9.27 16.38 1.121A15.844 15.844 0 0 0 4.838 5.568 15.842 15.842 0 0 0 0 16.954v56.457z"
							></path></svg
						></span
					>
				</a>
			</div>
		</div>
	</div>
</header>
