---
import BaseHead from "../BaseHead.astro";
import styles from "../../styles/global.css";

const { title, description, cover } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={cover?.src.src} />
	</head>
	<body>
		<slot />
	</body>
</html>
