---
import BaseHead from "../BaseHead.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import MainNav from "./MainNav/index.astro";

const { title, description, cover } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={cover?.src.src} />
	</head>
	<body>
		<div class="center" id="skip-nav">
			<a href="#skip-target">Skip to main content</a>
		</div>
		<div id="page-container">
			<Header />
			<main class="p-s bg-stone-100" id="skip-target">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
