---
import BaseHead from "../BaseHead.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import SpeedInsights from "@vercel/speed-insights/astro";

const { title, description, cover } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={cover?.src.src} />
	</head>
	<body>
		<a href="#skip-target">Skip to main content</a>
		<Header />
		<main id="skip-target" class="flow">
			<slot />
		</main>
		<Footer />
		<SpeedInsights />
	</body>
</html>
