<style>
	#skip-nav {
		position: absolute;
		top: 0;
		left: 50%;
		background-color: var(--stone-12);
		color: var(--stone-1);
		translate: -50% -100%;
		padding: var(--size-3);
		border-radius: 0 0 var(--size-3) var(--size-3);
		transition: translate 0.2s ease-out;

		&:has(:focus-visible) {
			translate: -50% 0%;
		}

		& a {
			font-size: var(--font-1);
			font-weight: var(--font-weight-6);
			outline-offset: var(--size-2);
			border-radius: 0 0 var(--size-2) var(--size-2);
			color: inherit;
		}
	}
</style>
<div id="skip-nav">
	<a href="#skip-target">Skip to main content</a>
</div>
