---
import Teaser from "@components/PageItems/Teaser/index.astro";
const { posts, h } = Astro.props;
---

<style>
	.link-list {
		padding-inline-start: 0;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
</style>
<ul class="link-list">
	{
		posts.map((post: any) => (
			<li>
				<Teaser post={post} h={h} />
			</li>
		))
	}
</ul>
