<img
  id="doris"
  src="/img/doris.webp"
  alt="Cartoon image of Doris the Emu" />
<footer>
  Copyright © 2023 J H Williams.
  <a rel="me" href="https://social.horrorhub.club/@thudfactor">Meet me on Mastodon</a>.
</footer>