<doris-the-emu></doris-the-emu>
<footer>
  Copyright © 2023 J H Williams.
  <a rel="me" href="https://social.horrorhub.club/@thudfactor">Meet me on Mastodon</a>.
</footer>
<script src="/js/doris-the-emu.js"></script>