<a href="{{ post.url }}" class="excerpt">
  <div class="excerpt-header">
    <h2>
      {{ post.data.title }}
    </h2>
  </div>
  <div class="excerpt-body">
    {% if post.data.cover %}
      <figure>
        {%- capture imagepath -%}
          {{ post.page.url }}{{ post.data.cover.src }}
        {%- endcapture -%}
        {% image imagepath post.data.cover.alt %}
      </figure>
    {% endif %}
    <div class="teaser">
      {% excerpt post %}
    </div>
  </div>
</a>