<aside>
  <div class="aside-header">Other Blogs</div>
  <section class="aside-body">
    <ul>
      <li><a href="https://linkmeister.com/wordpress/">Linkmeister</a></li>
      <li><a href="https://solonor.com/">Solonor’s Inkwell</a></li>
      <li><a href="https://www.unreality.net/weblog/">Occasional Fish</a></li>
      <li><a href="https://docpop.org/">Doc Pop</a></li>
    </ul>
  </section>
</aside>