---
import { getCollection } from "astro:content";
import BlogPost from "@layouts/BlogPost.astro";
import Teaser from "@components/PageItems/Teaser/index.astro";

const title = "Archives";
const description = "A list of all the posts on this blog.";
const date = new Date();

const posts = (await getCollection("posts"))
	.sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf())
	.reverse();
---

<BlogPost title={title} description={description} date={date}>
	<div class="flow">
		{posts.map(post => <Teaser post={post} />)}
	</div>
</BlogPost>
