---
import Experiment from "@components/PageItems/Experiment.astro";
---

<style>
	body {
		background-color: slategray;
	}

	.box {
		position: absolute;
		background-color: green;
		border-radius: 10px;
		width: 50px;
		height: 50px;
		inset: 0;
		margin: auto;
		scale: 0.4;
		opacity: 0.1;
	}

	.n {
		translate: 0 -150%;
		background-color: aqua;
		transform-origin: center bottom;
	}
	.ne {
		translate: 150% -150%;
		background-color: slateblue;
		transform-origin: left bottom;
	}
	.nw {
		translate: -150% -150%;
		background-color: darkturquoise;
		transform-origin: right bottom;
	}
	.s {
		translate: 0 150%;
		background-color: purple;
		transform-origin: center top;
	}
	.se {
		translate: 150% 150%;
		background-color: darkorchid;
		transform-origin: left top;
	}
	.sw {
		translate: -150% 150%;
		background-color: darkkhaki;
		transform-origin: right top;
	}
	.e {
		translate: 150%;
		background-color: coral;
		transform-origin: left center;
	}
	.w {
		translate: -150%;
		background-color: deeppink;
		transform-origin: right center;
	}
</style>

<Experiment title="Flowerbox" gsap>
	<button slot="nav" id="go" onclick="go()">Go</button>

	<div class="box nw"></div>
	<div class="box n"></div>
	<div class="box ne"></div>
	<div class="box e"></div>
	<div class="box"></div>
	<div class="box w"></div>
	<div class="box sw"></div>
	<div class="box s"></div>
	<div class="box se"></div>
</Experiment>

<script is:inline src="/scripts/gsap/ScrambleTextPlugin.min.js"></script>
<script is:inline>
	gsap.registerPlugin(ScrambleTextPlugin);
	let playing = false;
	const button = document.querySelector("#go");
	button.onClick = go;

	const tween = gsap
		.to(".box", {
			rotate: 360,
			scale: 2,
			duration: 2,
			opacity: 1,
			ease: "power1.inOut",
			stagger: {
				repeat: -1,
				each: 1,
				grid: [3, 3],
				from: [0.5, 0.5],
				yoyo: true,
			},
		})
		.pause();
	function go() {
		if (playing) {
			tween.pause();
			gsap.to(button, {
				duration: 0.3,
				scrambleText: "Go",
			});
		} else {
			tween.resume();
			gsap.to(button, {
				duration: 0.3,
				scrambleText: "Stop",
			});
		}
		playing = !playing;
		// stuff goes here
	}
</script>
