---
import FormattedDate from "@components/FormattedDate.astro";
const { date, updatedDate } = Astro.props;
---

<div>
	{date && <FormattedDate date={date} />}
	{
		updatedDate && date !== updatedDate && (
			<span>
				• Updated <FormattedDate date={updatedDate} />
			</span>
		)
	}
</div>
