---
title: Default title
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, viewport-fit=cover">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz@0,8..60;1,8..60&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css" />
    <title>{{ title }} | Thudfactor</title>
  </head>
  <body>
    <div class="contentWrapper">
      <header>
        <div class="site-title">
          <a href="/">Thudfactor</a>
        </div>
        <div class="site-statement">Heavy.</div>
        <nav>
          <a href="/about">About</a>
          |
          <a href="/now">Now</a>
          |
          <a href="/archive">Archive</a>
          |
          <a href="/feed.xml">RSS</a>
        </nav>
      </header>
      <main>
        {{ content }}
      </main>
      <footer>
        Copyright © 2023 J H Williams.
        Meet me on
        <a rel="me" href="https://social.horrorhub.club/@thudfactor">Mastodon</a>.
      </footer>
    </div>
  </body>
</html>