---
title: Default title
---

<!doctype html>
<html lang="en">
  <head>
    {% include "head-required.liquid" %}
    {% include "head-og.liquid" %}
    <title>{{ title }} | Thudfactor</title>
    <meta name="generator" content="{{ eleventy.generator }}">
  </head>
  <body>
    {% include "page-top.liquid" %}
    <div class="contentWrapper">
      <main>
        {{ content }}
      </main>
    </div>
    {% include "page-bottom.liquid" %}
  </body>
</html>