@layer theme, layout, components, content, utilities, samples;

@layer theme {
	:root {
		--font-system-ui: system-ui, sans-serif;
		--font-transitional: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
		--font-old-style: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
		--font-humanist: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro,
			sans-serif;
		--font-geometric-humanist: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
		--font-classical-humanist: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
		--font-neo-grotesque: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
			sans-serif;
		--font-industrial: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium", "Nimbus Sans Narrow",
			sans-serif-condensed, sans-serif;
		--font-rounded-sans: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa, Manjari,
			"Arial Rounded MT", "Arial Rounded MT Bold", Calibri, source-sans-pro, sans-serif;
		--font-slab-serif: Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif", "Sitka Small",
			serif;
		--font-antique: Superclarendon, "Bookman Old Style", "URW Bookman", "URW Bookman L",
			"Georgia Pro", Georgia, serif;
		--font-didone: Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L", P052, Sylfaen, serif;
		--font-handwritten: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual, cursive;
		--font-default: var(--font-geometric-humanist);

		--lh-loose: 2;
		--lh-normal: 1.6;
		--lh-tight: 1.2;

		--spacing: 8px;

		--border-radius: 12px;

		/* Default color scheme */
		--color-background: #ccc;
		--color-article-background: #f0f0f0;
		--color-text: #000;
		--color-link: #009;
		--color-link-hover: #00f;

		&[data-theme="dark"] {
			--color-background: #111;
			--color-article-background: #222;
			--color-text: #fff;
			--color-link: #0ff;
			--color-link-hover: #f0f;
		}

		&[data-theme="high-contrast-light"] {
			--color-background: #fff;
			--color-article-background: #fff;
			--color-text: #000;
			--color-link: #00f;
			--color-link-hover: #f0f;
		}

		&[data-theme="high-contrast-dark"] {
			--color-background: #000;
			--color-article-background: #000;
			--color-text: #fff;
			--color-link: #0f0;
			--color-link-hover: #ff0;
		}
	}

	body {
		background-color: var(--color-background);
		color: var(--color-text);
		font-family: var(--font-default);
		font-weight: normal;
	}

	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}

	article li {
		margin-bottom: 0.5rem;
	}

	p,
	li {
		line-height: var(--lh-normal);
	}

	a {
		transition: color 0.3s ease-in-out, text-decoration-color 0.3s ease-in-out;

		&:link,
		&:visited {
			color: var(--color-link);
			text-decoration-color: oklch(from var(--color-link) l c h / 20%);
		}

		&:hover,
		&:active {
			color: var(--color-link-hover);
			text-decoration-color: oklch(from var(--color-link) l c h / 90%);
		}
	}
}

@layer layout {
	html {
		height: 100dvh;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}

	body {
		margin: 0;
		padding: 0;
		height: 100dvh;
		min-width: 100dvw;
		overflow: auto;
		scrollbar-gutter: stable both-edges;
	}

	img {
		object-fit: cover;
		max-width: 720px;
		width: 100%;
		height: auto;
	}

	#base-grid {
		max-width: 1020px;
		margin: 0 auto;

		display: grid;
		grid-template-columns: 240px 3fr;
		grid-template-rows: auto auto 1fr auto;

		& header[role="banner"],
		& footer[role="contentinfo"] {
			padding: var(--spacing);
		}

		& main {
			padding: calc(3.5 * var(--spacing));
		}
	}

	header[role="banner"] {
		text-align: center;
		grid-column: 1/3;
		grid-row: 1;

		@media (min-width: 768px) {
			grid-row: 1/3;
		}
	}

	#main-sidebar {
		border: 0 oklch(from var(--color-text) l c h / 0.5) solid;
		border-bottom-width: 1px;
		grid-row: 2;
		grid-column: 1/3;
		container-type: inline-size;

		@media (min-width: 768px) {
			grid-column: 1/2;
			grid-row: 3/4;
			border-bottom-width: 0;
			border-right-width: 1px;
			padding-left: 16px;
		}
	}

	main {
		border: 0 oklch(from var(--color-text) l c h / 0.5) solid;
		border-top-width: 1px;
		border-bottom-width: 1px;
		grid-column: 1/3;
		grid-row: 3;
		display: block;
		background-color: var(--color-article-background);
		padding: 19px;

		@media (min-width: 768px) {
			grid-column: 2/3;
		}
	}

	footer {
		grid-column: 1/3;
		grid-row: 4;
		text-align: center;

		@media (min-width: 768px) {
			grid-column: 2/3;
		}
	}
}

@layer components {
	select {
		padding: var(--spacing);
		display: block;
		border-radius: var(--border-radius);
	}
}

@layer content {
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		hanging-punctuation: first last;
	}
	pre {
		padding: 1.1875rem;
		margin-inline: -1.1875rem;
	}
	table {
		border-width: 4px;
		border-style: ridge;
		border-color: white;
		width: 100%;
		border-collapse: collapse;

		td,
		th {
			padding: 1rem;
			border-width: 4px;
			border-style: ridge;
			border-color: white;
		}

		caption {
			margin-block: 1rem;
		}
	}
}
