body {
	background-color: #cccccc;
	font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	font-weight: normal;
}

img {
	object-fit: cover;
	max-width: 720px;
	width: 100%;
	height: auto;
}