html,
body {
	min-height: 100%;
	width: 100%;
	background-color: var(--stone-2);
}

body {
	margin: 0;
	padding: 0;
	scrollbar-gutter: stable;
}

#base-grid {
	margin-inline: auto;
	width: min(calc(100% - var(--size-6)), 60rem);
	min-height: 100dvh;
	display: grid;
	grid-template-rows: auto min-content min-content 1fr min-content;
	gap: var(--size-1);
}

#base-grid > header {
	grid-row: 1 / 2;
}

#main-sidebar {
	grid-row: 2 / 3;
	background-color: var(--stone-9);
	border-radius: 1rem 1rem 0 0;
}

main {
	grid-row: 3 / 4;
}

#base-grid > footer {
	grid-row: 4 / 5;
}

#main-nav ul,
#main-nav li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#main-nav ul {
	display: flex;
	justify-content: center;
	gap: var(--size-8);
}

#main-nav li {
	line-height: var(--font-lineheight-3);
	letter-spacing: var(--font-letterspacing-1);
}

#main-nav a {
	text-decoration-color: hsl(0 0% 0% / 0);
	color: var(--stone-1);
	font-weight: var(--font-weight-6);
	font-size: var(--font-size-3);
	transition: text-decoration-color 0.2s ease-out;
}

#main-nav a:hover {
	text-decoration-color: var(--stone-1);
	text-decoration: underline;
}

#main-nav .active:before {
	content: "❇︎";
	display: inline-block;
	margin-left: -1.7ch;
	width: 1.7ch;
}
