@import "reset";

:root {
  font-size: 18px;
  --title-font-family: 'Exo 2', sans-serif;
  --heading-font-family: 'Crete Round', serif;
  --body-font-family: 'Lora', serif;
  --body-contrast-font-family: 'Nunito Sans', sans-serif;
  --content-width: 36rem;
  --border-radius: .4rem;

}

header, footer {
  text-align: center;
  border-color: hsl(0deg 0% 90%);
  border-style: solid;
  border-width: 0
}

body {
  background-color: hsl(0deg 0% 95%);
  color: hsl(0deg 0% 10%);
  font-family: var(--body-font-family);
  font-weight: 400;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
}

img {
  max-inline-size: 100%;
  block-size: auto;

  &.basic-image {
    width: 100%;
  }
}

a:not([class]) {
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.15em;
}

header {
  padding: 1.5rem 0 .75rem;
  padding-bottom: .75rem;
  border-bottom-width: 1px;
  height: min-content;

  & .site-title {
    font-family: var(--title-font-family);
    font-weight: 900;
    font-size: 3em;
    color: hsl(0deg 0% 20%);
    text-shadow: 0 1px 3px hsla(0deg 0% 10% / 0.5);
    line-height: 1.2;

    & a {
      color: currentColor;
      text-decoration-color: hsl(240deg 80% 60% / 0);
      transition: text-decoration-color 0.3s ease-in-out;

      &:link, &:visited {
        text-decoration: none;
      }

      &:hover {
        text-decoration-thickness: 2px;
        text-decoration-offset: 0.05em;
        text-decoration-color: hsl(240deg 80% 60% / 1);
      }
    }
  }

  & nav {
    margin-top: 1.5em;
    font-family: var(--body-contrast-font-family);
    font-weight: 600;
    font-size: .9em;

    & a {
      color: hsl(0deg 0% 20%);
      text-decoration-color: hsl(0deg 0% 20% / 0);
      transition: text-decoration-color 0.3s ease-in-out, color 0.3s ease-in-out;

      &:hover {
        color: hsl(0deg 0% 0%);
        text-decoration-color: hsl(0deg 0% 20% / 1);
        text-decoration: underline;
      }
    }
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 24px;
  max-width: fit-content;
  min-height: 100%;
  background-color: hsl(0deg 0% 100%);
  padding: 0 48px;
}

main {
  height: 100%;
  min-height: 100%;
}

article {
  max-width: 100%;
  width: 50rem;
  margin: 0 auto;

  & ul {
    margin-block: 1em;
    padding-left: 0;

    & li {
      font-size: .9em;
      font-family: var(--body-contrast-font-family);
    }
  }

  & blockquote {
    font-family: var(--body-contrast-font-family);
    margin: 1.5rem 0 1.5rem -1.5rem;
    padding-left: 1.5em;
    font-size: .95rem;
    border-left: 3px hsl(120deg 20% 90%) solid;

    & p {
      text-indent: 0;
      margin-block: 1.5em;
    }

    & cite {
      display: block;
      font-size: .8rem;
      text-align: right;
      margin-top: 1.6em;
    }
  }

  & h1 {
    font-family: var(--title-font-family);
    color: hsl(150deg 30% 30%);
    font-weight: 800;
    line-height: 1.2;

    & span {
      color: hsl(150deg 0% 40%);
      font-family: var(--body-contrast-font-family);
      font-weight: 800;
      font-style: italic;
      font-size: 1rem;
      display: block;
      width: fit-content;
      border-top: 1px hsl(150deg 0% 80%) solid;
      margin-top: .5em;
      padding-top: .5em;
    }
  }

  & h2 {
    font-family: var(--heading-font-family);
    font-style: italic;
    color: hsl(150deg 0% 30%);
    font-size: 1.25rem;
    margin-top: 1.5em;
  }

  & h3 {
    font-family: var(--heading-font-family);
    color: hsl(150deg 0% 30%);
    font-weight: 300;
    font-size: 1.1rem;
    margin-top: 1rem;
  }

  .post-meta {
    font-size: .9rem;
    font-family: var(--body-contrast-font-family);
    color: hsl(0deg 0% 30%);
    margin-bottom: 1.5em;
    line-height: 2;
  }

  > p {
    text-indent: 1.5em;
    line-height: 1.7;
    letter-spacing: -0.02em;
    max-width: var(--content-width);
  }

  .basic-image {
    margin: 1.5em 0;
  }

  & pre.language-css {
    max-width: calc(var(--content-width) + 2rem);
    padding: 1rem;
    margin-inline: -1rem;
  }
}

.alert-callout {
  padding: 1em;
  border-radius: 4px;
  background-color: hsl(0deg 0% 90%);
  border: 1px hsl(0deg 0% 80%) solid;
  margin: 1.5em -1rem;
  font-family: var(--body-contrast-font-family);
  font-size: .9rem;
  line-height: 1.5;
  color: hsl(0deg 0% 30%);
  max-width: calc(var(--content-width) + 2rem);

  &.info {
    display: flex;
    align-items: center;
    gap: .6rem;
    &::before {
      content: '🤔 ';
      display: inline-block;
      font-size: 1.4rem;
    }
  }
}

.archive {
  max-width: 38em;

  .excerpt {
    margin-bottom: 3rem;
  }

  & h2 {
    font-style: italic;
  }

  .excerpt-body {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    font-family: var(--body-font-family);

    & figure {
      margin: 0;
      .basic-image {
        margin: 0;
      }
    }

    & p {
      text-indent: 0;
      margin-top: .5em;
    }
  }
}

footer {
  height: min-content;
  padding-top: .6em;
  padding-bottom: 1em;
  border-top-width: 1px;
  color: hsl(0deg 0% 40%);
  font-family: var(--body-contrast-font-family);
  font-size: .9em;
}

figure.text-figure {
  padding: 1rem;
  background-color: hsl(0deg 0% 96%);
  max-width: calc(var(--content-width) + 2rem);
  width: 100%;
  margin: 2rem -1rem;
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 1px hsl(0deg 0% 80%) inset;

  & figcaption {
    font-family: var(--body-contrast-font-family);
    font-size: .9rem;
    color: hsl(0deg 0% 40%);
    border-top: 1px currentColor solid;
    margin-top: 1em;
    padding-top: .6em;
  }
}

figure.cover-image {
  width: calc(100% + 2rem);
  margin-inline: -1rem;
  & img {
    width: 100%;
    aspect-ratio: 3 / 1;
    object-fit: cover;
    display: block;
    border-radius: var(--border-radius);
  }
  & figcaption {
    margin: 1.3rem auto 1.3rem 1rem;
    border-top: 1px #ccc solid;
    padding-top: .4rem;
    font: .9rem var(--body-contrast-font-family);
    line-height: 1.3;
    position: relative;
    max-width: var(--content-width);
  }
  & cite {
    display: block;
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-17px);
  }
}