---
import ArticleFigure from "@components/ContentItems/ArticleFigure/index.astro";
const { alt, src, attribution, description } = Astro.props.cover;
---

<ArticleFigure data-missing-alt={!alt} alt={alt || ""} image={src} attribution={attribution}>
	<p>{description}</p>
</ArticleFigure>
<slot />
