---
import "@styles/color-bar.css";
const { numSwatches, style, ...extra } = Astro.props;
---

<div data-element="color-bar" style={`--numswatches: ${numSwatches}; ${style || ""}`} {...extra}>
	{
		Array.from({ length: numSwatches }).map((_, i) => (
			<div class="swatch" style={`--index: ${i}`} />
		))
	}
</div>
