---
import CommentsForm from "./CommentsForm.astro";
import CommentsList from "./CommentsList.astro";

interface Props {
	postSlug: string;
}

const { postSlug } = Astro.props;
---

<div class="comments-section">
	<h3>Comments: {postSlug}</h3>
	<CommentsList server:defer postSlug={postSlug} />
	<CommentsForm postSlug={postSlug} />
</div>
