<style>
@layer components {
	.finial {
		width: 6rem;
    aspect-ratio: 1;
		color: hsl(0 0% 0% / .05);
    margin: 2rem auto;
	}
}
</style>
<div class="finial" role="presentation">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 530 530" version="1.0">
    <g fill="currentColor" fill-rule="evenodd">
      <path d="M268.984 19v.063L248.172 38.78l1.875 21.063c-42.723 3.96-81.736 20.81-113.094 46.625l-14.062-16.844-28.688.781-.031-.062v.093l-.781 28.657 16.656 13.937c-27.238 32.206-44.903 72.753-48.594 117.25l-22.437-2-19.72 20.813h-.062l.032.031-.032.031h.063l19.719 20.813 22.687-2.031c4.189 43.608 21.82 83.302 48.688 114.906l-18 15.031.78 28.656-.03.063h.062l28.688.75 15.218-18.219c31.377 25.77 70.398 42.582 113.125 46.5l-2.062 23.094 20.812 19.719v.062l.032-.031.03.031v-.063l20.813-19.718-2.062-23c42.991-3.737 82.27-20.532 113.844-46.375l14.5 17.344 28.687-.75h.063l-.032-.063.782-28.656-17.063-14.281c26.876-31.58 44.53-71.257 48.75-114.844l21.156 1.875 19.72-20.813h.062l-.032-.031.032-.031h-.063l-19.719-20.813-20.937 1.875c-3.694-44.177-21.162-84.456-48.094-116.531l16.188-13.531-.782-28.656v-.094l-.03.062-28.688-.781-13.594 16.25c-31.68-26.231-71.236-43.287-114.563-47.094l1.875-21-20.812-19.718V19l-.031.031-.032-.031zm16 74.344c36.28 3.181 69.393 17.462 95.938 39.406l-59.219 70.813c-12.497-10.18-27.967-16.849-44.906-18.47l8.187-91.75zm-31.937.094 8.187 91.624c-16.53 1.459-31.675 7.694-44.062 17.344l-58.563-70.062c26.214-21.508 58.779-35.573 94.438-38.906zm-117.094 61.25 69.844 58.406c-11.576 13.087-19.109 29.801-20.719 48.219l-90-8.032c3.069-37.429 17.949-71.532 40.875-98.594zm267.625.562c22.628 26.94 37.305 60.789 40.375 97.906l-91.562 8.156c-1.555-17.784-8.682-33.967-19.594-46.843l70.781-59.219zm-136.156 49.125c.136-.003.27.003.406 0 .415-.008.834 0 1.25 0 35.52 0 64.344 28.824 64.344 64.344 0 35.52-28.824 64.344-64.344 64.344-35.52 0-64.344-28.825-64.344-64.344 0-34.966 27.932-63.465 62.688-64.344zm-82.281 72.563c1.723 17.746 8.966 33.878 20 46.656l-68.875 57.594c-22.555-26.462-37.37-59.713-40.938-96.25l89.813-8zm167.156 0 91.406 8.156c-3.6 36.525-18.427 69.777-41 96.219l-69.844-58.407c10.714-12.668 17.744-28.534 19.438-45.969zm-30.531 56.875 58.25 69.656c-26.437 21.556-59.276 35.543-95.22 38.656l-8-89.781c16.97-1.624 32.46-8.32 44.97-18.531zm-105.407.562c12.534 10.015 27.98 16.51 44.875 18l-8 89.656c-35.677-3.295-68.261-17.297-94.5-38.781l57.625-68.875z"/>
      <path stroke-width="0" d="M287.465 268.386a18.042 18.042 0 1 1-36.085 0 18.042 18.042 0 1 1 36.085 0z"/>
      <path stroke-width="0" d="m265.31 242.722-11.541 4.769-21.193-21.193 32.733-12.979v29.403zM285.445 247.793l-11.532-4.79v-29.97l32.323 13.969-20.791 20.79zM248.696 252.642l-4.789 11.532h-29.97l13.968-32.323 20.791 20.79zM243.987 273.327l4.768 11.54-21.193 21.194-12.978-32.734h29.403zM253.818 289.307l11.532 4.788v29.971l-32.323-13.968 20.791-20.791zM273.436 294.026l11.54-4.768 21.193 21.193-32.733 12.979v-29.404zM290.21 285.093l4.789-11.532h29.97l-13.968 32.323-20.791-20.791zM295.384 264.68l-4.768-11.54 21.192-21.193 12.979 32.733h-29.403z"/>
    </g>
  </svg>
</div>