---
interface Props {
	date: Date;
}

const { date: incomingDate } = Astro.props;
const date = typeof incomingDate === 'string' ? new Date(incomingDate) : incomingDate;
---
<time datetime={date.toISOString()}>
	<span role="presentation" style="font-style: normal">☉</span>
	{
		date.toLocaleDateString('en-us', {
			year: 'numeric',
			month: 'long',
			day: 'numeric',
		})
	}
</time>
