---
interface Props {
	date: Date;
}

const { date } = Astro.props;
---
<time datetime={date.toISOString()}>
	<span role="presentation" style="font-style: normal">☉</span>
	{
		date.toLocaleDateString('en-us', {
			year: 'numeric',
			month: 'long',
			day: 'numeric',
		})
	}
</time>
