---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, SITE_VALUE_STATEMENT } from '../consts';
---
<style>
	header[role="banner"] {
		text-align: center;
	}
	#Home {
		font-size: 1.5em;
		font-weight: bold;
	}
</style>
<header role="banner">
	<nav>
		<a id="Home" href="/">{SITE_TITLE}: {SITE_VALUE_STATEMENT}</a>
		<hr />
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink> |
			<HeaderLink href="/posts">Blog</HeaderLink> |
			<HeaderLink href="/about">About</HeaderLink> |
			<HeaderLink href="/now">Now</HeaderLink> |
			<HeaderLink href="/using">Using</HeaderLink>
		</div>
	</nav>
</header>
<hr />

