---
const { color, label, style, ...extra } = Astro.props;
---

<div data-element="labeledSwatch" style={`--color: ${color}; ${style || ""}`} {...extra}>
	<div class="swatch"></div>
	<div class="label">{label}</div>
</div>
