---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---
<style>
  a {
    color: var(--color-text);
    font-weight: bold;
    text-decoration-color: transparent;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;

    &:hover, &:active {
      text-decoration: underline;
      text-decoration-color: oklch(from var(--color-text) l c h / 80%);
    }
  }
</style>
<a href={href} aria-current={isActive ? 'page' : undefined} class:list={[className, { active: isActive }]} {...props}><slot /></a>
