---
import MainNavLink from "@components/MainNavLink.astro";
---

<nav aria-labeledby="main-nav-label">
	<div class="sr-only" id="main-nav-label">Main Navigation</div>
	<ul>
		<li><MainNavLink href="/">Home</MainNavLink></li>
		<li><MainNavLink href="/posts">Blog</MainNavLink></li>
		<li><MainNavLink href="/about">About</MainNavLink></li>
		<li><MainNavLink href="/now">Now</MainNavLink></li>
		<li><MainNavLink href="/using">Using</MainNavLink></li>
		<li><button id="settings-button"><span class="gear">⛭</span> Settings</button></li>
	</ul>
</nav>
