---
import { SITE_TITLE, SITE_VALUE_STATEMENT } from '../consts';
import FormattedDate from './FormattedDate.astro';
---
<style>
  @layer components {
    header {
      padding-block: 16px;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    a {
      margin: 0 auto;
      width: fit-content;
      font-size: 1.5rem;
      line-height: 1.2;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: baseline;
      text-decoration: none;
      color: hsl(0 0% 0% / 1);
      gap: 8px;

      & span {
        transition: .3s text-decoration-color ease-in-out;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-color: hsl(0 0% 0% / 0);
        text-decoration-thickness: 3px;
      }

      &:hover span {
        text-decoration-color: hsl(0 0% 0% / 1);
      }
  	}
    svg {
      height: 1.13rem;
      width: auto;
    }
    .lastUpdate {
      font-style: italic;
      font-size: .8rem;
      font-weight: 200;
      color: hsl(0 0% 20%);
    }
</style>
<header role="banner">
  <a id="Home" href="/">
    <svg version="1.0" width="1100px" height="523px" viewBox="0 0 1100 523" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
      <path fill="currentColor" d="M 316.639 13.5 L 303.159 27 L 0 27 L 4.793 33.1 C 27.061 61.6 65.505 100.8 91.467 121.6 C 113.535 139.2 138.399 154.5 157.072 161.9 C 173.747 168.5 209.895 177.6 236.756 181.9 C 269.708 187.3 304.357 190.6 342.402 192 C 372.758 193.1 385.24 194.6 401.216 199.1 C 436.365 209 458.533 228.5 465.523 255.8 C 468.119 266.1 468.119 282 465.423 292.6 C 461.329 308.7 449.446 328.2 431.772 347.6 C 407.407 374.4 361.374 408.3 314.642 433.9 C 304.257 439.6 301.861 441.5 289.479 453.8 L 275.699 467.5 L 275.699 523 L 412.3 523 L 417.992 519.6 C 436.265 508.5 474.909 500.4 525.835 496.9 C 550 495.3 611.91 495.6 636.674 497.5 C 671.024 500.1 696.587 504.3 716.558 510.7 C 727.442 514.2 740.323 520 741.521 522 C 741.921 522.7 765.187 523 811.52 523 L 880.819 523 L 880.819 468.2 L 871.532 459.6 C 839.679 430.3 802.433 402.5 773.974 387 C 755.102 376.8 745.016 367.2 735.231 350.5 C 724.546 332.4 716.358 302.1 715.959 280.3 C 715.859 270.8 719.354 259.3 727.642 242 C 749.011 197.4 786.057 164.6 832.489 149.1 C 859.55 140 874.428 138.2 927.751 137 C 966.794 136.1 983.07 135.3 1004.139 132.9 C 1036.792 129.3 1062.355 122.1 1070.143 114.3 L 1073.539 110.9 L 1073.539 55 L 1076.334 54.4 C 1084.523 52.6 1086.819 51.7 1090.714 48.7 C 1093.11 46.9 1096.106 43.4 1097.504 41 C 1099.8 36.8 1100 35.5 1100 23 C 1100 7.5 1099.201 5.4 1092.211 2.3 C 1088.217 0.6 1074.138 0.5 709.069 0.2 L 330.12 0 L 316.639 13.5 Z"/>
    </svg>
    <span>{SITE_TITLE}: {SITE_VALUE_STATEMENT}</span>
  </a>
  <span class="lastUpdate">Site last updated: <FormattedDate date={new Date()} /></span>
</header>
