.booklist {
	margin-block-start: var(--spacing-2xl);
	--threshold: 30rem;
}

.book {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: auto 1fr;
	gap: var(--spacing-xs);
	padding-right: 1rem;
	min-width: var(--threshold);
	max-width: 80%;
}

.book h2 {
	font-size: var(--text-base);
}

.book img {
	grid-row: 1/3;
	grid-column: 1/2;
	object-fit: contain;
	object-position: right top;
	width: 100%;
	max-width: 33dvw;
	height: auto;
}

.book .cover-placeholder {
	grid-row: 1/3;
	grid-column: 1/2;
	display: grid;
	place-content: center;
}

.book header {
	grid-row: 1/2;
	grid-column: 2/3;
	border-bottom: 1px solid var(--color-amber-600);
}

.book section {
	grid-row: 2/3;
	grid-column: 2/3;
}
