.hero {
	margin-inline: calc(var(--spacing-s) * -1);
	margin-block-start: calc(var(--spacing-s) * -1);
	position: relative;
	border-bottom: 1px solid var(--color-amber-700);
}

.hero img {
	aspect-ratio: 16/9;
	max-height: 80vh;
	object-fit: cover;
}

.hero [popovertarget] {
	position: absolute;
	top: var(--spacing-m);
	right: var(--spacing-m);
	border: 1px var(--color-stone-200) solid;
	display: grid;
	place-content: center;
	padding: var(--spacing-3xs);
	border-radius: 50%;
	cursor: pointer;
	background-color: hsl(from var(--color-stone-800) h s l / 0.6);
	color: white;
	transition: 0.3s background-color linear;
	anchor-name: --hero-caption-button;

	&:hover {
		background-color: hsl(from var(--color-amber-600) h s l / 1);
	}
}

#hero-caption cite {
	display: block;
	margin-top: var(--spacing-s);
	font-size: var(--text-sm);
}

#hero-caption:popover-open {
	top: 50%;
	left: 50%;
	width: 45ch;
	max-width: 80%;
	translate: -50% -50%;
	padding: var(--spacing-m);
	border-radius: var(--spacing-m);
	box-shadow: var(--shadow-xl);
}

#hero-caption::backdrop {
	background-color: hsl(from var(--color-stone-800) h s l / 60%);
	backdrop-filter: blur(4px) contrast(70%) sepia(20%);
}

@supports (position-anchor: --anchor-name) {
	#hero-caption:popover-open {
		position-anchor: --hero-caption-button;
		right: anchor(left);
		top: anchor(bottom);
		left: auto;
		bottom: auto;
		translate: none;
	}

	#hero-caption::backdrop {
		background-color: transparent;
		backdrop-filter: none;
	}
}

.hero + h1 {
	width: fit-content;
	margin-block-start: calc(-1 * var(--spacing-xl));
	margin-block-end: var(--spacing-m);
	padding-block-start: var(--spacing-m);
	padding-inline: var(--spacing-m);
	position: relative;
	border-radius: var(--spacing-m);
	border: 1px transparent solid;
	color: var(--color-amber-800);
	background:
		linear-gradient(var(--color-stone-200), var(--color-stone-100) var(--spacing-xl)) padding-box,
		linear-gradient(180deg, var(--color-amber-700) var(--spacing-xl), transparent var(--spacing-xl))
			border-box;
}
