.hero {
	margin-inline: calc(var(--spacing-s) * -1);
	margin-block-start: calc(var(--spacing-s) * -1);
	position: relative;
}

.hero img {
	aspect-ratio: 16/9;
	max-height: 80vh;
	object-fit: cover;
}

.hero [popovertarget] {
	position: absolute;
	bottom: var(--spacing-m);
	right: var(--spacing-m);
	border: 1px var(--color-stone-200) solid;
	display: grid;
	place-content: center;
	padding: var(--spacing-3xs);
	border-radius: 50%;
	cursor: pointer;
	background-color: hsl(from var(--color-stone-800) h s l / 0.6);
	color: white;
	transition: 0.3s background-color linear;
	anchor-name: --hero-caption-button;

	&:hover {
		background-color: hsl(from var(--color-amber-600) h s l / 1);
	}
}

#hero-caption cite {
	display: block;
	margin-top: var(--spacing-s);
	font-size: var(--text-sm);
}

#hero-caption:popover-open {
	top: 50%;
	left: 50%;
	width: 45ch;
	max-width: 80%;
	translate: -50% -50%;
	padding: var(--spacing-m);
	border-radius: var(--spacing-m);
	box-shadow: var(--shadow-xl);
}

#hero-caption::backdrop {
	background-color: hsl(from var(--color-stone-800) h s l / 60%);
	backdrop-filter: blur(4px) contrast(150%) sepia(80%);
}

@supports (position-anchor: --anchor-name) {
	#hero-caption:popover-open {
		position-anchor: --hero-caption-button;
		right: anchor(left);
		bottom: anchor(top);
		left: auto;
		top: auto;
		translate: none;
	}

	#hero-caption::backdrop {
		background-color: transparent;
	}
}

.hero + h1 {
	margin-block: var(--spacing-m);
}
