.prose {
	line-height: 1.5;
}

.prose p {
	hyphens: auto;
}

.prose :is(ul, ol) {
	margin-left: var(--spacing-lg);
	font-size: var(--text-base);
}

.prose dt {
	font-weight: bold;
}

.prose dd {
	margin-left: 1em;
}

.prose :is(ul, ol, dl) {
	max-width: calc(60ch - var(--spacing-lg));
}

.prose ol > li {
	list-style-type: decimal;
}

.prose ul > li {
	list-style-type: disc;
}

.prose li + li {
	margin-block-start: var(--spacing-2xs);
}
