---
import MainNavLink from "./MainNavLink.astro";
---

<nav id="main-nav" aria-labeledby="main-nav-label">
	<div class="sr-only" id="main-nav-label">Main Navigation</div>
	<ul role="list" class="flow">
		<li><MainNavLink href="/posts">Blog</MainNavLink></li>
		<li><MainNavLink href="/about">About</MainNavLink></li>
		<li><MainNavLink href="/patterns">Patterns</MainNavLink></li>
		<li><MainNavLink href="/blogroll">Blogroll</MainNavLink></li>
	</ul>
</nav>
