---
import MainNavLink from "./MainNavLink.astro";
---

<style>
	@layer components {
		ul,
		li {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			line-height: var(--font-lineheight-3);
			letter-spacing: var(--font-letterspacing-1);

			&:has(.active) {
				background-image: linear-gradient(to right, var(--stone-5) 30%, var(--stone-3) 100%);
				background-color: var(--stone-3);
			}
		}
		a {
			text-decoration-color: hsl(0 0% 0% / 0);
			color: black;
			font-weight: var(--font-weight-6);
			transition: text-decoration-color 0.2s ease-out;

			&.active {
				&:before {
					content: "❇︎";
					display: inline-block;
					top: 0;
					left: 0;
					width: 1.7ch;
					margin-left: -1.7ch;
				}
			}

			&:hover {
				text-decoration-color: hsl(0 0% 0% / 0.5);
			}
		}
	}
</style>
<nav aria-labeledby="main-nav-label">
	<div class="sr-only" id="main-nav-label">Main Navigation</div>
	<ul>
		<li><MainNavLink href="/">Home</MainNavLink></li>
		<li><MainNavLink href="/posts">Blog</MainNavLink></li>
		<li><MainNavLink href="/about">About</MainNavLink></li>
		<li><MainNavLink href="/now">Now</MainNavLink></li>
		<li><MainNavLink href="/using">Using</MainNavLink></li>
	</ul>
</nav>
