---
import MainNavLink from "./MainNavLink.astro";
---

<nav id="main-nav" aria-labelledby="main-nav-label">
	<div class="sr-only" id="main-nav-label">Site</div>
	<ul role="list" class="cluster">
		<li><MainNavLink href="/posts">Blog</MainNavLink></li>
		<li><MainNavLink href="/about">About</MainNavLink></li>
		<li><MainNavLink href="/links">Links</MainNavLink></li>
		<li><MainNavLink href="/books">Books</MainNavLink></li>
		<li><MainNavLink href="/blogroll">Blogroll</MainNavLink></li>
	</ul>
</nav>
