:root {
	font-weight: normal;
	font-family: var(--font-sans);
}

/* text styles */
p:not([class]) {
	font-size: var(--text-base);
}

:is(h1, h2, h3, h4, h5, h6):not([class]) {
	font-family: var(--font-serif);
	font-weight: 400;
}

h1:not([class]) {
	font-size: var(--text-4xl);
}

h2:not([class]) {
	font-size: var(--text-3xl);
}

h3:not([class]) {
	font-size: var(--text-2xl);
}

h4:not([class]),
h5:not([class]),
h6:not([class]) {
	font-size: var(--text-xl);
}

figure:not([class]) {
	margin-inline: 0;
}

img:not([class]) {
	height: auto;
}

a:not([class]) {
	transition: color 0.3s;
	text-decoration: underline;
	text-decoration-color: var(--color-indigo-200);
	text-decoration-thickness: max(1px, 0.08ch);
}

a:is(:link, :visited) {
	color: var(--color-blue-700);
}

a:hover {
	color: var(--color-fuchsia-700);
}

/* Set default svg size so it behaves more like icons */
svg:not([class]) {
	width: auto;
	height: 1lh;
}

/* These should be monospaced and also need to be adjusted down a bit because
monospace fonts typically look larger */
code,
kbd,
samp {
	font-family: var(--font-mono);
	font-size: 0.9em;
	background-color: var(--color-stone-200);
}

del {
	text-decoration-color: var(--color-red-700);
}

ins {
	text-decoration-style: wavy;
	text-decoration-color: var(--color-green-700);
}

cite {
	font-style: italic;
}

blockquote {
	margin-inline: var(--spacing-m);
	padding-inline-start: var(--spacing-s);
	border-inline-start: 1px var(--color-stone-200) solid;
	border-inline-start-width: var(--spacing-3xs);
}

blockquote > q {
	font-size: var(--text-base);
}

blockquote footer {
	text-align: right;
	font-style: italic;

	&:before {
		content: "— ";
	}

	:is(cite, i, em) {
		font-style: normal;
	}
}

* + h2 {
	margin-block-start: 2em;
}

/* Flow */

.flow > * {
	margin-block: 0;
}

.flow > * + * {
	margin-block-start: var(--flow-gap, var(--spacing-s));
}

/* box */

.box {
	padding: var(--box-padding, --spacing-s);
	border: var(--box-border-width, 1px) solid var(--color-dark);
	--color-light: #fff;
	--color-dark: #000;
	color: var(--color-dark);
	background-color: var(--color-light);
}

.box * {
	color: inherit;
}

.box.invert {
	color: var(--color-light);
	background-color: var(--color-dark);
}

/* center */

.center {
	box-sizing: content-box;
	max-inline-size: 60ch;
	margin-inline: auto;
	padding-inline: var(--spacing-s);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cluster {
	display: flex;
	flex-wrap: wrap;
	gap: var(--cluster-gap, --spacing-s);
	justify-content: var(--cluster-justify, flex-start);
	align-items: var(--cluster-align, baseline);
}

.cluster[role="list"] {
	--cluster-gap: 0.5ch;
}

/* Sidebar */

.with-sidebar {
	display: flex;
	flex-wrap: wrap;
	gap: var(--s1);
}

.with-sidebar > :first-child {
	flex-grow: 1;
}

.with-sidebar > :last-child {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 50%;
}

/* */
