.box {
	padding: var(--box-padding, var(--spacing-s));
	border: var(--box-border-width, 1px) solid var(--color-dark);
	--color-light: #fff;
	--color-dark: #000;
	color: var(--color-dark);
	background-color: var(--color-light);
}

.box * {
	color: inherit;
}

.box.invert {
	color: var(--color-light);
	background-color: var(--color-dark);
}
