.box {
	--color-light: #fff;
	--color-dark: #000;
	padding: var(--box-padding, var(--spacing-s));
	border: var(--box-border-width, 1px) solid var(--box-border-color, var(--color-dark));
	border-radius: var(--box-border-radius, var(--spacing-xs));
	color: var(--color-dark);
	background-color: var(--color-light);
}

.box * {
	color: inherit;
}

.box.invert {
	color: var(--color-light);
	background-color: var(--color-dark);
}
