@property --cluster-justify {
	syntax: "flex-start | flex-end | space-around | space-between";
	inherits: false;
	initial-value: flex-start;
}

@property --cluster-wrap {
	syntax: "wrap | nowrap";
	inherits: false;
	initial-value: wrap;
}

.cluster {
	display: flex;
	flex-wrap: var(--cluster-wrap, wrap);
	gap: var(--cluster-gap, var(--text-s));
	justify-content: var(--cluster-justify, flex-start);
	align-items: var(--cluster-align, baseline);
}

.cluster:has(> svg) {
	--cluster-gap: var(--text-xs);
}

.cluster[role="list"] {
	--cluster-gap: 1.2ch;
}

a > .cluster {
	--cluster-gap: var(--spacing-3xs);
	--cluster-justify: flex-start;
	--cluster-align: baseline;
}
