---
title: Archive
pagination:
  data: collections.post
  size: 10
  alias: posts
  reverse: true
layout: main
---

{% for post in posts %}
  {% include "post-excerpt.liquid" %}
{% endfor %}

<nav>
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}">Previous</a>
  {% else %}
    Previous
  {% endif %}
  /
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}">Next</a>
  {% else %}
    Next
  {% endif %}
</nav>