---
pagination:
  data: collections.categories
  size: 1
  alias: category
permalink: /categories/{{ category | slugify }}/index.html
layout: archive
---

<h2>Category: {{ category }}</h2>

{% assign posts = collections.post | filterByCategory: category %}
{% for post in posts reversed %}
  {% include "post-excerpt.liquid" %}
{% endfor %}