---
title: Welcome to Thudfactor
layout: base
templateEngineOverride: njk,md
---

<div class="underConstruction">
  <div class="light"></div>
  <div class="light"></div>
  <div class="light"></div>
  <span>Under Construction</span>
</div>

<div class="blog-list">
{%- for post in collections.post -%}
  <section>
    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <span>{{ post.date.toString() }}</span>
    <div>
      {{ post.data.description }}
    </div>
  <section>
{%- endfor -%}
</div>
