---
permalink: /rss.xsl
---
<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet
  version="3.0"
  xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
  xmlns:atom="http://www.w3.org/2005/Atom">
  <xsl:output
    method="html"
    version="1.0"
    encoding="UTF-8"
    indent="yes" />
  <xsl:template match="/">
    <html xmlns="http://www.w3.org/1999/xhtml" lang="en">
      <head>
        {% include "head-required.liquid" %}
        <title>
          RSS Feed | <xsl:value-of select="/atom:feed/atom:title" />
        </title>
      </head>
      <body>
        {% include "page-top.liquid" %}
        <div class="contentWrapper">
          <div class="archive">
            <main>
              <h1>Recent blog posts</h1>

              <div class="alert-callout info">
                <div>This is an RSS feed. Visit
                  <a href="https://aboutfeeds.com">About Feeds</a>
                  to learn more and get started.
                </div>
              </div>

              <xsl:for-each select="/atom:feed/atom:entry">
                <div class="excerpt">
                  <div class="excerpt-header">
                    <h2>
                      <a>
                        <xsl:attribute name="href">
                          <xsl:value-of select="atom:link/@href" />
                        </xsl:attribute>
                        <xsl:value-of select="atom:title" />
                      </a>
                    </h2>
                  </div>
                  <div class="excerpt-body rss">
                    <div class="teaser">
                      <xsl:value-of select="atom:content" disable-output-escaping="yes" />
                    </div>
                  </div>
                </div>
              </xsl:for-each>
            </main>
          </div>
        </div>

        {% include "page-bottom.liquid" %}
      </body>
    </html>
  </xsl:template>
</xsl:stylesheet>