<style>
  @layer samples {
    table {
      border-collapse: collapse;
      & th, td {
        padding: .5rem;
      }
    }
    thead {
      th {
        text-align: left;
        border-bottom: 3px double #000;
      }
    }
    tbody {
      & tr {
        & th {
          vertical-align: top;
          text-align: left;
          border-right: 1px solid #999;
        }
        &:nth-child(1) {
          & th {
            padding-top: 1.5rem;
          }
          & td {
            font-size: 2rem;
          }
        }
        &:nth-child(2) {
          & td {
            font-size: 1rem;
          }
        }
        &:nth-child(3) {
          & th {
            padding-top: .3rem;
          }
          & td {
            font-size: .8rem;
          }
        }
      }
    }
  }
</style>

<table>
  <thead>
    <tr>
      <th scope="col">Size</th>
      <th scope="col">Sample</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2rem</th>
      <td>There were doors all round the hall, but they were all locked; and when Alice had been all the way down one side and up the other, trying every door, she walked sadly down the middle, wondering how she was ever to get out again.</td>
    </tr>
    <tr>
      <th scope="row">1rem</th>
      <td>There were doors all round the hall, but they were all locked; and when Alice had been all the way down one side and up the other, trying every door, she walked sadly down the middle, wondering how she was ever to get out again.</td>
    </tr>
    <tr>
      <th scope="row">.8rem</th>
      <td>There were doors all round the hall, but they were all locked; and when Alice had been all the way down one side and up the other, trying every door, she walked sadly down the middle, wondering how she was ever to get out again.</td>
    </tr>
  </tbody>
</table>
