---
import Page from "@components/PageItems/Page.astro";
interface Props {
	title: string;
	description: string;
	cover?: any;
}

const { title, description, cover } = Astro.props;
---

<Page title={title} description={description} cover={cover}>
	<header class="content-header">
		<h1>{title}</h1>
	</header>
	<slot />
</Page>
