---
import Page from '@components/Page.astro';
import MainNav from '@components/MainNav.astro';
import Masthead from '@components/Masthead.astro';
import ReadingOptions from '@components/ReadingOptions.astro';

const { title, description } = Astro.props;
const today = new Date();
---
<style>
  @layer components {
    main {
      padding: 19px;
    }

    #main-sidebar {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    aside {
      border: 1px solid black;
      padding: 1rem;
    }
  }
</style>
<Page title={title} description={description}>
  <div id="base-grid">
    <Masthead />
    <section id="main-sidebar">
      <MainNav />
      <aside>
        <ReadingOptions />
      </aside>
      <slot name="sidebar" />
    </section>
    <main>
      <slot />
    </main>
    <footer>
      ©️ 2023—{today.getFullYear()} J H Williams. All rights reserved.
    </footer>
  </div>
</Page>
