---
import Page from "@components/PageItems/Page.astro";
import Header from "@components/PageItems/Header.astro";
import Footer from "@components/PageItems/Footer.astro";
import MainNav from "@components/PageItems/MainNav/index.astro";
const { title, description, cover } = Astro.props;
---

<Page title={title} description={description} cover={cover}>
	<div class="center" id="skip-nav">
		<a href="#skip-target">Skip to main content</a>
	</div>
	<div class="center">
		<Header />
		<div class="with-sidebar">
			<div>
				<MainNav class="flow" />
				<slot name="sidebar" />
			</div>
			<main id="skip-target">
				<slot />
			</main>
		</div>
		<Footer />
	</div>
</Page>
