---
import Page from '@components/Page.astro';
import MainNav from '@components/MainNav.astro';
import Masthead from '@components/Masthead.astro';

const { title, description } = Astro.props;
const today = new Date();
---
<style>
  @layer components {
    main {
      padding: 19px;
    }
  }
</style>
<Page title={title} description={description}>
  <div id="base-grid">
    <Masthead />
    <section id="main-sidebar">
      <MainNav />
      <slot name="sidebar" />
    </section>
    <main>
      <slot />
    </main>
    <footer>
      &copy; 2023—{today.getFullYear()} J H Williams. All rights reserved.
    </footer>
  </div>
</Page>
