---
import Page from '@components/Page.astro';
import MainNav from '@components/MainNav.astro';
import Masthead from '@components/Masthead.astro';
import ReadingOptions from '@components/FontSize.astro';
import ColorTheme from '@components/ColorTheme.astro';

const { title, description } = Astro.props;
const today = new Date();
---
<style>
  @layer components {
    #main-sidebar {
      display: flex;
      flex-direction: column;
      gap: calc(3.5 * var(--spacing));

      & aside {
        padding-left: var(--spacing);
      }
    }
  }
</style>
<Page title={title} description={description}>
  <div id="base-grid">
    <Masthead />
    <section id="main-sidebar">
      <MainNav />
      <aside>
        <ReadingOptions />
      </aside>
      <aside>
        <ColorTheme />
      </aside>
      <slot name="sidebar" />
    </section>
    <main>
      <slot />
    </main>
    <footer>
      ©️ 2023—{today.getFullYear()} J H Williams. All rights reserved.
    </footer>
  </div>
</Page>
