---
import Page from '@components/Page.astro';
import MainNav from '@components/MainNav.astro';
import Masthead from '@components/Masthead.astro';
import ReadingOptions from '@components/FontSize.astro';
import ColorTheme from '@components/ColorTheme.astro';

const { title, description } = Astro.props;
const today = new Date();
---
<style>
  @layer components {
    #skip-nav {
      width: fit-content;
      padding: calc(2 * var(--spacing));
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%) translateY(-100%);
      transition: transform 0.3s;

      &:focus-within {
        background-color: white;
        color: black;
        transform: translateX(-50%) translateY(0%);
      }
    }

    #main-sidebar {
      display: flex;
      flex-direction: column;
      gap: calc(3.5 * var(--spacing));

      & aside {
        padding-left: var(--spacing);
      }
    }

    footer {
      padding: var(--spacing);
    }
  }
</style>
<div id="skip-nav">
  <a href="#skip-target">Skip to main content</a>
</div>
<Page title={title} description={description}>
  <div id="base-grid">
    <Masthead />
    <section id="main-sidebar">
      <MainNav />
      <aside>
        <ReadingOptions />
      </aside>
      <aside>
        <ColorTheme />
      </aside>
      <slot name="sidebar" />
    </section>
    <main id="skip-target">
      <slot />
    </main>
    <footer>
      ©️ 2023–{today.getFullYear()} J H Williams. All rights reserved.
    </footer>
  </div>
</Page>
