---
import Base from '@layouts/Base.astro';
import Content from '@components/Content.astro';

interface Props {
	title: string;
	description: string;
	date: Date;
	updatedDate?: Date;
};

const { title, description } = Astro.props;
---
<style>
	.finial {
		font-size: 6rem;
		text-align: center;
		color: hsl(0 0% 0% / .05);
	}
</style>
<Base title={title} description={description}>
	<Content {...Astro.props}>
		<slot />
		<div class="finial" role="presentation">☸</div>
	</Content>
</Base>
