---
import Page from '@components/Page.astro';
import Content from '@components/Content.astro';

interface Props {
	title: string;
	description: string;
	date: Date;
	updatedDate?: Date;
};

const { title, description } = Astro.props;
---
<style>
	#UnderConstruction {
		font-size: 1.5em;
		margin: 2em 0;
	}
</style>
<Page title={title} description={description}>
	<center id="UnderConstruction">
		🚧🚧 This site is under construction. (<a href="/posts/2024/02/redesign/">what?</a>) 🚧🚧
	</center>
	<Content {...Astro.props}>
		<slot />
	</Content>
</Page>
