---
import "@styles/global.css";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<title>{title} | Thudfactor</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/anvil-favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<style>
			html,
			body {
				margin: 0;
				padding: 0;
				scrollbar-gutter: initial;
				--cover-gap: 0;
			}
			header,
			footer {
				background-color: var(--color-indigo-950);
				color: var(--color-indigo-200);
			}
			.cover > section {
				background-color: gray;
				position: relative;
				display: grid;
				place-items: center;
				flex: 1 1 100%;
			}
		</style>
	</head>
	<body>
		<div class="cover">
			<header>
				<div>Thudfactor: {title}</div>
				<slot name="nav" />
			</header>
			<section>
				<slot />
			</section>
			<footer><a href="/">Thudfactor</a> &copy; 2025 JH Williams</footer>
		</div>
	</body>
</html>
