---
import Layout from "@layouts/Base.astro";
---

<Layout>
	<p class="font-00">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt dolore suscipit ipsum veniam
		eum ratione maxime esse, cumque aspernatur laborum asperiores assumenda earum fuga doloribus aut
		eveniet sapiente fugit dolor.
	</p>
	<p class="font-0">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt dolore suscipit ipsum veniam
		eum ratione maxime esse, cumque aspernatur laborum asperiores assumenda earum fuga doloribus aut
		eveniet sapiente fugit dolor.
	</p>
	<p class="font-1">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt dolore suscipit ipsum veniam
		eum ratione maxime esse, cumque aspernatur laborum asperiores assumenda earum fuga doloribus aut
		eveniet sapiente fugit dolor.
	</p>
	<p class="font-2">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt dolore suscipit ipsum veniam
		eum ratione maxime esse, cumque aspernatur laborum asperiores assumenda earum fuga doloribus aut
		eveniet sapiente fugit dolor.
	</p>
	<p class="font-3">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt dolore suscipit ipsum veniam
		eum ratione maxime esse, cumque aspernatur laborum asperiores assumenda earum fuga doloribus aut
		eveniet sapiente fugit dolor.
	</p>
	<p class="font-4">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt dolore suscipit ipsum veniam
		eum ratione maxime esse, cumque aspernatur laborum asperiores assumenda earum fuga doloribus aut
		eveniet sapiente fugit dolor.
	</p>
	<p class="font-5">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt dolore suscipit ipsum veniam
		eum ratione maxime esse, cumque aspernatur laborum asperiores assumenda earum fuga doloribus aut
		eveniet sapiente fugit dolor.
	</p>
	<p class="font-6">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt dolore suscipit ipsum veniam
		eum ratione maxime esse, cumque aspernatur laborum asperiores assumenda earum fuga doloribus aut
		eveniet sapiente fugit dolor.
	</p>
	<p class="font-7">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt dolore suscipit ipsum veniam
		eum ratione maxime esse, cumque aspernatur laborum asperiores assumenda earum fuga doloribus aut
		eveniet sapiente fugit dolor.
	</p>
	<p class="font-8">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt dolore suscipit ipsum veniam
		eum ratione maxime esse, cumque aspernatur laborum asperiores assumenda earum fuga doloribus aut
		eveniet sapiente fugit dolor.
	</p>
</Layout>
